* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --second-bg-color: rgb(0, 0, 0);
    --text-color: rgb(255, 249, 239);
    --main-color: rgb(255, 227, 104);
}

body {
    background: rgb(59, 50, 78);
    color: white;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: rgba(255, 104, 142, 0.185);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 700;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
}

.navbar a:hover {
    color: var(--main-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.home {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    gap: 2rem;
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

span {
    color: var(--main-color);
}

.home-img img {
    width: 35vw;
    border-radius: 50%;
    border: 4px solid var(--main-color);
    box-shadow: 0 0 20px var(--main-color);
}


.background-shapes {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
    overflow: hidden;
}

.circle {
    position: absolute;
    background: rgba(255, 145, 94, 0.4); 
    border: 2px solid var(--main-color);
    border-radius: 50%;
    animation: float 15s infinite ease-in-out;
}

.circle:nth-child(1) { width: 80px; height: 80px; top: 20%; left: 10%; animation-duration: 10s; }
.circle:nth-child(2) { width: 150px; height: 150px; top: 60%; left: 80%; animation-duration: 18s; animation-delay: 2s; }
.circle:nth-child(3) { width: 50px; height: 50px; top: 80%; left: 40%; animation-duration: 12s; }


@keyframes float {
    0% {
        transform: translateY(0px) translateX(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-50px) translateX(30px) rotate(180deg);
    }
    100% {
        transform: translateY(0px) translateX(0px) rotate(360deg);
    }
}
